//----------------------------------------------
// Work
//---------------------------------------------- 
.work {

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2em;
    margin-top: 1em;

    @media (min-width: $mq-small) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__work {
    padding: {
      top: 1em;
      bottom: 1em;
    }

    @media (min-width: $mq-small) {
      padding: {
        top: 2em;
        bottom: 2em;
      }
    }
  }

  &__link {
    display: block;

    color: var(--black);

    &:hover {
      .work__vid,
      .work__img {
        transform: scale(0.97);
      }

      .work__vid {

        video {
          transform: scale(1.1);
        }
      }

      .work__img {

        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__scale {

    .work__vid & {
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;
    }
  }

  &__vid {
    @extend %work-card;
    @extend %pseudo-square;

    position: relative;

    video {
      @extend %auto-margin;

      position: absolute;
      top: 0;
      left: 0;
      z-index: $z-0;

      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;

      background-size: cover;
      object-fit: cover;
      transition: transform 300ms ease-in-out;
    }
  }

  &__img {
    @extend %work-card;

    img {
      transition: transform 300ms ease-in-out;
    }
  }

  &__header {
    margin-top: 1em;
  }

  &__title {
    overflow: hidden;

    span {
      display: inline-block;
    }
  }

  &__text {
    @extend .posts__text;
    
    max-width: 26em;
  }
}
