//----------------------------------------------
// Code
//---------------------------------------------- 
code,
kbd,
pre,
samp {
  font-family: $font-mono;
  font-size: $font-small;
}

pre {
  width: 100%;
  margin: {
    top: 0;
    bottom: 1.5rem;
  }
  padding: 1.5em 0.75em;

  line-height: $base-lineheight;
  white-space: pre;
  word-wrap: normal;
  color: var(--black);
  background: var(--lightgrey);
  border-radius: 5px;
  overflow: auto;

  @media (min-width: $mq-med) {
    width: 110%;
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  code {
    padding: 0;
  }
}

code {
  padding: 0.25em 0.5em;

  color: var(--black);
  background: var(--lightgrey);
}
