//----------------------------------------------
// Media
//----------------------------------------------
img,
figure {
  max-width: 100%;
  height: auto;
}

img {
  display: block;
}

figure {
  margin: 0;
}
