{
  "parser": "babel-eslint",
  "extends": "eslint",
  "rules": {
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "indent": ["error", 2],
    "no-console": ["error", { allow: ["error"] }],
    "no-inner-declarations": "off",
    "no-undef": "off",
    "no-underscore-dangle": "off",
    "no-unused-vars": "warn",
    "no-use-before-define": "warn",
    "node/no-unsupported-features/es-syntax": "off",
    "quotes": ["error", "single"],
    "require-jsdoc": "warn"
  }
}
