---
layout: default
pagination: 
  enabled: true
---
<section class="intro section-padding">
  <div class="intro__container">
    <h1>Thomas Vaeth was born in New York, raised in Pennsylvania, and transplanted in Washington. He was a Web Developer at Urban Influence, but now he's a Software Engineer at Getty Images.</h1>
  </div>
</section>

<section class="work work--featured section-padding">
  <div class="section-width">
    <h2>Featured work</h2>
    <div class="work__container">

      {% assign ordered_work = site.work | sort: 'order' %}
      {% for work in ordered_work %}

        {% include work-card.html %}

      {% endfor %}

    </div>
  </div>
</section>

<section class="posts posts--latest section-padding">
  <div class="section-width">
    <h2>Recent articles</h2>
    <div class="posts__container" itemscope itemtype="http://schema.org/Blog">
      
      {% for post in paginator.posts %}

        {% include post-card.html %}

      {% endfor %}

    </div>

    {% if paginator.next_page %}
      <div class="posts__pages" data-pages="{{ paginator.total_pages }}"></div>
      <div class="posts__pagination">
        <span class="posts__next">Load More Articles</span>
      </div>
    {% endif %}

  </div>
</section>

<section class="awards section-padding">
  <div class="section-width">
    <h2>Recognition</h2>
    <div class="awards__container">

      {% assign ordered_awards = site.awards | sort: 'order' | reverse %}
      {% for award in ordered_awards %}

        {% include award-card.html %}

      {% endfor %}

    </div>
  </div>
</section>
