<footer class="footer">
  <ul class="footer__list">
    <li><a class="footer__link" href="https://github.com/thomasvaeth" target="_blank" onclick="return trackOutboundLink('https://github.com/thomasvaeth', 'social');">GitHub</a></li>
    <li><a class="footer__link" href="http://codepen.io/thomasvaeth" target="_blank" onclick="return trackOutboundLink('http://codepen.io/thomasvaeth', 'social');">CodePen</a></li>
    <li><a class="footer__link" href="https://twitter.com/thomasvaeth" target="_blank" onclick="return trackOutboundLink('https://twitter.com/thomasvaeth', 'social');">Twitter</a></li>
    <li><a class="footer__link" href="https://www.instagram.com/thomas.vaeth" target="_blank" onclick="return trackOutboundLink('https://www.instagram.com/thomas.vaeth', 'social');">Instagram</a></li>
  </ul>
</footer>

<div class="transition"></div>

<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
