<footer id="contact" class="footer bg-black">
  <div class="grid">
    <div>
      <a class="footer__contact" href="mailto:thomas.vaeth@gmail.com">Let’s talk</a>
    </div>
  </div>
  <ul class="footer__list">
    <li><a class="footer__link" href="https://github.com/thomasvaeth" target="_blank">GitHub</a></li>
    <li><a class="footer__link" href="http://codepen.io/thomasvaeth" target="_blank">CodePen</a></li>
    <li><a class="footer__link" href="https://www.linkedin.com/in/thomasvaeth" target="_blank">LinkedIn</a></li>
  </ul>
</footer>

<div class="transition transition-in"></div>

<script src="{{ '/assets/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
