<footer class="footer">
  <figure class="footer__img">
    <img src="/assets/images/footer.png" alt="Shaka"/>
  </figure>
  <ul class="footer__list">
    <li><a href="https://github.com/thomasvaeth" target="_blank" onClick="_gaq.push(['_trackEvent', 'External Link', 'Github']);">GitHub</a></li>
    <li><a href="http://codepen.io/thomasvaeth" target="_blank" onClick="_gaq.push(['_trackEvent', 'External Link', 'CodePen']);">CodePen</a></li>
    <li><a href="https://www.linkedin.com/in/thomasvaeth" target="_blank" onClick="_gaq.push(['_trackEvent', 'External Link', 'LinkedIn']);">LinkedIn</a></li>
    <li><a href="https://twitter.com/thomasvaeth" target="_blank" onClick="_gaq.push(['_trackEvent', 'External Link', 'Twitter']);">Twitter</a></li>
    <li><a href="https://www.instagram.com/thomas.vaeth" target="_blank" onClick="_gaq.push(['_trackEvent', 'External Link', 'Instagram']);">Instagram</a></li>
  </ul>
</footer>

<script type="text/javascript" src="{{ "/assets/js/app.js" | prepend: site.baseurl }}""></script>
