{% if page.url == "/" %}
  <header class="header">
    <a class="header__title" href="#" data-scroll>Saide Koolivand Salouki</a>

    <nav>
      <ul class="header__list">
        <li>
          <a class="header__link" href="#projects" data-scroll>Projects</a>
        </li>
        <li>
          <a class="header__link" href="#articles" data-scroll>Articles</a>
        </li>
        <li>
          <a class="header__link" href="{{ '/contact' | prepend: site.baseurl }}">Contact</a>
        </li>
      </ul>
    </nav>
  </header>

  <header class="header--mobile">
    <a class="header__title" href="#" data-scroll>Saide Koolivand Salouki</a>

    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li>
          <a class="header__link" href="#projects" data-scroll>Projects</a>
        </li>
        <li>
          <a class="header__link" href="#articles" data-scroll>Articles</a>
        </li>
        <li>
          <a class="header__link" href="{{ '/contact' | prepend: site.baseurl }}">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
{% elsif page.url == "/contact/" %}
  <header class="header">
    <a class="header__title" href="{{ '/' | prepend: site.baseurl }}">Saide Koolivand Salouki</a>

    <nav>
      <ul class="header__list">
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="projects">Projects</a>
        </li>
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="articles">Articles</a>
        </li>
        <li>
          <a class="header__link" href="#" data-scroll>Contact</a>
        </li>
      </ul>
    </nav>
  </header>

  <header class="header--mobile">
    <a class="header__title" href="{{ '/' | prepend: site.baseurl }}">Saide Koolivand Salouki</a>

    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="projects">Projects</a>
        </li>
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="articles">Articles</a>
        </li>
        <li>
          <a class="header__link" href="#" data-scroll>Contact</a>
        </li>
      </ul>
    </nav>
  </header>
{% else %}
  <header class="header">
    <a class="header__title" href="{{ '/' | prepend: site.baseurl }}">Saide Koolivand Salouki</a>

    <nav>
      <ul class="header__list">
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="projects">Projects</a>
        </li>
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="articles">Articles</a>
        </li>
        <li>
          <a class="header__link" href="{{ '/contact' | prepend: site.baseurl }}">Contact</a>
        </li>
      </ul>
    </nav>
  </header>

  <header class="header--mobile">
    <a class="header__title" href="{{ '/' | prepend: site.baseurl }}">Saide Koolivand Salouki</a>

    <div class="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="projects">Projects</a>
        </li>
        <li>
          <a class="header__link" href="{{ '/' | prepend: site.baseurl }}" data-anchor="articles">Articles</a>
        </li>
        <li>
          <a class="header__link" href="{{ '/contact' | prepend: site.baseurl }}">Contact</a>
        </li>
      </ul>
    </nav>
  </header>
{% endif %}
