<article class="work__work">
  <a class="work__link" href="{{ work.url | prepend: site.baseurl }}" data-aos="slide-up">
    {% if work.link_video %}
      <div class="work__vid">
        <div class="work__scale" data-aos="scale-down">
          <video autoplay loop muted poster="{{ work.link_image }}">
            <source type="video/mp4" src="{{ work.link_video }}">
          </video>
        </div>
      </div>
    {% elsif work.link_image %}
      <figure class="work__img">
        <div class="work__scale" data-aos="scale-down">
          <img src="{{ work.link_image }}" alt="{{ work.title }}"/>
        </div>
      </figure>
    {% endif %}
    <header class="work__header">
      <h3 class="work__title">
        <span data-aos="slice-up" data-aos-duration="400">{{ work.title }}</span>
      </h3>
      <p class="work__text" data-aos="fade-in" data-aos-duration="400" data-aos-delay="100">{{ work.link_description }}</p>
    </header>
  </a>
</article>
