<article class="work__work">
  <a class="work__link" href="{{ work.url | prepend: site.baseurl }}" data-aos="slide-up" data-aos-duration="1000">
    {% if work.title == 'CryptoLogg' %}
      <div class="work__cryptologg">
        <div class="work__scale" data-aos="scale-down" data-aos-duration="1000">
          <div class="cycle">
            <span>🤑</span>
            <span class="hidden">🙃</span>
            <span class="hidden">😵</span>
          </div>
        </div>
      </div>
    {% elsif work.link_video %}
      <div class="work__vid">
        <div class="work__scale" data-aos="scale-down" data-aos-duration="1000">
          <video autoplay loop muted poster="{{ work.link_image }}">
            <source type="video/mp4" src="{{ work.link_video }}">
          </video>
        </div>
      </div>
    {% elsif work.link_image %}
      <figure class="work__img">
        <div class="work__scale" data-aos="scale-down" data-aos-duration="1000">
          <img src="{{ work.link_image }}" alt="{{ work.title }}"/>
        </div>
      </figure>
    {% endif %}
    <header class="work__header">
      <h3 class="work__title">
        <span data-aos="slice-up">{{ work.title }}</span>
      </h3>
      <p class="work__text">{{ work.link_description }}</p>
    </header>
  </a>
</article>
