/**
 * Base Variables
 */
$font: "Sofia", Arial, Helvetica, sans-serif;

$color-alpha: #0000ff;

$color-black: #000;
$color-grey: #f2f2f2;
$color-white: #fff;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;

$margin: 6em;
$margin-sm: 4em;

/**
 * Base Settings/Overwrite Normalize
 */
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-weight: 500;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;

  @media (min-width: $mq-sm) {
    font-size: 102.5%;
  }

  @media (min-width: $mq-md) {
    font-size: 105%;
  }

  @media (min-width: $mq-lg) {
    font-size: 107.5%;
  }

  @media (min-width: $mq-xl) {
    font-size: 110%;
  }

  @media (min-width: $mq-xxl) {
    font-size: 115%;
  }
}

h1, h2 {
  margin: 0;

  font-weight: 500;
  font-size: 1em;
  letter-spacing: 0.05em;
}

p {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 1.1em;
}

a {
  color: $color-black;
  text-decoration: none;
  transition: color 0.1s ease-in-out;

  &:hover,
  &:active,
  &:focus {
    color: $color-alpha;
  }
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

/**
 * Text Selection
 */
::selection {
  color: $color-white;
  background-color: $color-alpha;
  text-shadow: none;
}

/**
 * Scrollbar
 */
@media (min-width: $mq-md) {

  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: 0; 
    border-radius: 0;
    background: none;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: $color-black; 
  }

  ::-webkit-scrollbar-thumb:window-inactive {
    background: $color-black; 
  }
}
