/**
 * Body
 */
body {
  position: relative;

  background-color: $color-grey;
}

/**
 * Header
 */
.header {
  margin-top: $margin;
  margin-bottom: $margin-sm;

  &__img {

    img {
      width: 3em;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/**
 * Footer
 */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $margin-sm;
  padding-right: 1em;
  padding-left: 1em;

  &__list {
    display: flex;

    list-style-type: none;

    & > * {

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  a {
    font-size: 0.9em;
  }
}
