//----------------------------------------------   
//  Config
//  
//  01: Font variables
//  02: Media Queries
//  03: Colors
//  04: Misc
//---------------------------------------------- 

//----------------------------------------------
// Fonts
//----------------------------------------------
$font: "Sofia", Arial, Helvetica, sans-serif;

//----------------------------------------------
// Fonts: Lineheight
//---------------------------------------------- 
$base-lineheight: 1.6;

//----------------------------------------------
// Media Queries
//---------------------------------------------- 
// Smallest phone
$mq-xsmall: 20em;
// Phone
$mq-small: 30em;
// Tablet
$mq-med: 54em;
// Laptop
$mq-large: 64em;
// Past laptop
$mq-xlarge: 76.5em;
// Mid-size monitor
$mq-xxlarge: 114em;

//----------------------------------------------
// Colors
//---------------------------------------------- 
$color-alpha: #0000ff;

$color-black: #000;
$color-grey: #f2f2f2;
$color-white: #fff;

//----------------------------------------------
// Misc
//----------------------------------------------
$margin: 6em;
$margin-small: 4em;
