//----------------------------------------------
// Flex Center
//----------------------------------------------
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

//----------------------------------------------
// Flex Align
//----------------------------------------------
%flex-align {
  display: flex;
  align-items: center;
}

//----------------------------------------------
// Auto Margin
//----------------------------------------------
%auto-margin {
  margin-right: auto;
  margin-left: auto;
}

//----------------------------------------------
// Work Card
//----------------------------------------------
%work-card {
  background-color: var(--white);
  overflow: hidden;
  transition: transform 300ms ease-in-out;
}

//----------------------------------------------
// Pseudo Square
//----------------------------------------------
%pseudo-square {

  &:before {
    content: "";

    display: block;
    padding-top: 80%;
  }
}
