//----------------------------------------------
// Family: Px Grotesk
//
// Light:   300
// Regular: 400
// Bold:    700
//----------------------------------------------

// Light
@font-face {
  font-family: 'Px Grotesk';
  src:
    url('../assets/fonts/Px-Grotesk-Light.woff2') format('woff2'),
    url('../assets/fonts/Px-Grotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

// Regular
@font-face {
  font-family: 'Px Grotesk';
  src:
    url('../assets/fonts/Px-Grotesk-Regular.woff2') format('woff2'),
    url('../assets/fonts/Px-Grotesk-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Bold
@font-face {
  font-family: 'Px Grotesk';
  src:
    url('../assets/fonts/Px-Grotesk-Bold.woff2') format('woff2'),
    url('../assets/fonts/Px-Grotesk-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
