//----------------------------------------------
// Config / Base
//---------------------------------------------- 
$font-header: 'Montserrat', sans-serif;
$font-body: 'Playfair Display', serif;

$color-white: #fff;
$color-gray: #f9fafb;
$color-black: #000;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;

//----------------------------------------------
// Extends
//---------------------------------------------- 
%width {
  width: 95%;
  margin: 0 auto;

  @media (min-width: $mq-md) {
    width: 90%;
  }
}

%section {
  padding: 2em 0;

  text-align: center;

  @media (min-width: $mq-sm) {
    padding: 4em 0;
  }
}

%letter-spacing {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

//----------------------------------------------
// Vendor: Normalize
//---------------------------------------------- 
@import 'vendor/_normalize';
@import 'base/_normalizer';

//----------------------------------------------
// Base
//---------------------------------------------- 
* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  font-family: $font-body;
  font-size: 100%;
  line-height: 1.8;
  color: $color-black;
  // Instagram gradient --> http://codepen.io/amoralov/pen/VaOXGR
  background: radial-gradient(circle farthest-corner at 32% 106%, rgb(255, 225, 125) 0%, rgb(255, 205, 105) 10%, rgb(250, 145, 55) 28%, rgb(235, 65, 65) 42%, transparent 82%), linear-gradient(135deg, rgb(35, 75, 215) 12%, rgb(195, 60, 190) 58%);

  @media (min-width: $mq-xs) {
    font-size: 102.5%;
  }

  @media (min-width: $mq-sm) {
    font-size: 105%;
  }

  @media (min-width: $mq-md) {
    font-size: 107.5%;
  }

  @media (min-width: $mq-lg) {
    font-size: 110%;
  }

  @media (min-width: $mq-xl) {
    font-size: 115%;
  }

  @media (min-width: $mq-xxl) {
    font-size: 125%;
  }
}

h1, h2 {
  @extend %letter-spacing;

  margin: 0;

  font-family: $font-header;
}

h1 {
  $fontSize: 2em;

  font-size: $fontSize;

  @media (min-width: $mq-md) {
    font-size: $fontSize + 1em;
  }

  @media (min-width: $mq-xl) {
    font-size: $fontSize + 1.5em;
  }
}

h2 {
  $fontSize: 1.5em;

  margin-bottom: 0.5em;

  font-size: $fontSize;

  @media (min-width: $mq-md) {
    font-size: $fontSize + 0.5em;
  }

  @media (min-width: $mq-xl) {
    font-size: $fontSize + 1em;
  } 
}

p {
  max-width: $mq-xl;
  margin: 0;

  font-size: 1.25em;
  text-align: left;

  @media (min-width: $mq-lg) {
    padding: 0 4em;
  }

  @media (min-width: $mq-xl) {
    padding: 0 8em;
  }
}

p + p {
  margin-top: 1em;
}

a {
  text-decoration: none;
}

article {
  display: inline-block;
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

pre {
  max-width: $mq-xxl;
  margin: 0 auto;
  padding: 1em;

  text-align: left;

  @media (min-width: $mq-sm) {
    padding: 2em;
  }
}

pre + pre {
  margin-top: 2em;
}

hr {
  height: 1px;
  width: 95%;

  background-color: rgba($color-black, 0.1);
  border: 0;

  @media (min-width: $mq-md) {
    width: 85%;
  }

  @media (min-width: $mq-lg) {
    width: 75%;
  }
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

//----------------------------------------------
// Components
//---------------------------------------------- 
.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  margin: 1em;

  background: url('../images/instafetch/pattern.png') $color-gray;
  overflow-y: auto;
  will-change: opacity;
  animation: fade-in 2s both 0.25s;

  @media (min-width: $mq-sm) {
    margin: 1.5em;
  }

  @media (min-width: $mq-md) {
    margin: 2em;
  }
}

.github-link {
  @extend %letter-spacing;

  display: inline-block;
  padding: 0.5em;

  font-family: $font-header;
  font-size: 1.25em;
  color: $color-black;
  text-align: center;
  border: 5px solid $color-black;
  box-shadow: inset 0 0 0 0 $color-black;
  transition: all 0.4s ease-in-out;

  &:hover,
  &:active, 
  &:focus {
    color: $color-gray;
    box-shadow: inset 0 100px 0 0 $color-black;
  }

  .header & {
    margin-top: 1em;
  }

  .download & {
    margin-bottom: 1em;
  }
}

.header {
  @extend %width;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 0;

  @media (min-width: $mq-sm) {
    padding: 6em 0;
  }
  
  &__container {

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.instafetch {
  @extend %width;
  @extend %section;

  &__feed {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
}

#instafetch {

  a {
    position: relative;

    display: block;

    border: 1px solid transparent;
    box-shadow: 0 1px 1px rgba($color-black, 0.1);
    background-color: $color-white;
    background-clip: padding-box;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    transition: all 1s ease;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      background-clip: padding-box;
      box-shadow: 0 2px 50px rgba($color-black, 0.25);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:hover {
      border: 1px solid rgba($color-black, 0.1);
      box-shadow: 0px 0px 47px rgba($color-black, 0.1);
      transform: translate3d(0, -0.5em, 0);
      transition: all 1s ease;

      &:after {
        opacity: 1;
      }
    }
  }

  figure {
    padding: 0.5em;

    @media (min-width: $mq-sm) {
      padding: 1em;
    }
  }

  div {
    padding: 0.5em 0 1em;

    color: $color-black;
    background: $color-white;

    @media (min-width: $mq-sm) {
      padding: 1em 0 2em;
    }
  }

  p {
    padding: 0;

    text-align: center;
  }
}

.demo {
  @extend %width;
  @extend %section;

  a {
    color: $color-black;
    border-bottom: 1px solid $color-black;
  }

  .language-markup {
    margin-top: 2em;
  }

  .language-js {
    margin-bottom: 2em;
  }
}

.promise {
  @extend %width;
  @extend %section;
}

.download {
  @extend %section;

  p {
    text-align: center;
  }
}

.footer {
  padding: 1em 0;

  @media (min-width: $mq-sm) {
    padding: 2em 0;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: center;

    & > *:not(:last-child) {
      margin-right: 1em;
    }

    a {
      color: $color-black;
    }
  }
}

//----------------------------------------------
// Animations Keyframes
//---------------------------------------------- 
@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

//----------------------------------------------
// Vendor
//---------------------------------------------- 
@import 'vendor/_prism';
