//-------------------------------------------- 
// Sections
//--------------------------------------------
section {
  position: relative;
}

.section-padding {
  padding: 2em 1em;

  @media (min-width: $mq-small) {
    padding: 3em 2em;
  }

  @media (min-width: $mq-med) {
    padding: 4em;
  }
}

//-------------------------------------------- 
// Grid
//--------------------------------------------
.grid {
  @extend %auto-margin;

  max-width: $max-width--xl;
}

//-------------------------------------------- 
// Viewport Height
//--------------------------------------------
.viewport-height {
  position: relative;

  height: 100vh;
}

//-------------------------------------------- 
// Hidden
//--------------------------------------------
.hidden {
  display: none;
}
