//-------------------------------------------- 
// Sections
//--------------------------------------------
section {
  position: relative;
}

.section-padding {
  padding: {
    right: 2em;
    left: 2em;
  }

  @media (min-width: $mq-med) {
    padding: {
      right: 4em;
      left: 4em;
    }
  }
}

.section-width {
  @extend %auto-margin;

  max-width: $max-width--xl;
}

//-------------------------------------------- 
// Hidden
//--------------------------------------------
.hidden {
  display: none;
}
