//-------------------------------------------- 
// Sections
//--------------------------------------------
section {
  @include z-index-layers(3);

  position: relative;
}

.section-padding {
  padding: 2em 1em;

  @media (min-width: $mq-small) {
    padding: 3em 2em;
  }

  @media (min-width: $mq-med) {
    padding: 4em;
  }
}

//-------------------------------------------- 
// Grid
//--------------------------------------------
.grid {
  @extend %auto-margin;

  width: 100%;
  max-width: $max-width--xl;
}

//-------------------------------------------- 
// Hidden
//--------------------------------------------
.hidden {
  display: none;
}

//-------------------------------------------- 
// Hidden
//--------------------------------------------
.clip {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: $z-1;

  @media (min-width: $mq-small) {
    top: 2em;
    left: 2em;
  }

  @media (min-width: $mq-med) {
    top: 4em;
    left: 4em;
  }
  
  a,
  span {
    font-weight: 700;
    font-size: 1.25em;
    color: $color-black;

    .footer & {
      color: $color-white;
    }
  }
}
