//-------------------------------------------- 
// Background Colors
//--------------------------------------------
.bg-white {
  background-color: $color-white;
}

.bg-lightgrey {
  background-color: $color-lightgrey;
}

.bg-black {
  background-color: $color-black;
}

.bg-the-stable {
  background-color: #fee2d1;
}

.bg-kaiser-permanente--alpha {
  background-color: #003b71;
}

.bg-kaiser-permanente--beta {
  background-color: #1a4f7f;
}

.bg-inrix--alpha {
  background-color: #f1c400;
}

.bg-inrix--beta {
  background-color: #002d72;
}

.bg-inrix--gamma {
  background-color: #005eb8;
}
