//----------------------------------------------
// Footer
//---------------------------------------------- 
.footer {

  &__list {
    display: flex;
    justify-content: center;
    // margin: {
    //   top: $margin-small;
    //   bottom: $margin-small;
    // }
    padding: {
      right: 1em;
      left: 1em;
    }

    list-style-type: none;

    & > * {

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  a {
    font-size: 0.9em;
  }
}

//----------------------------------------------
// Body
//---------------------------------------------- 
body {
  position: relative;

  overflow-x: hidden;
}
