//----------------------------------------------
// Footer
//---------------------------------------------- 
.footer {
  @extend .mast;

  position: relative;

  &__contact {
    @extend %font-h1;

    color: $color-white;

    &:hover {
      border-bottom: 4px solid $color-white;
    }
  }

  &__list {
    @extend %no-list-style;

    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: $z-1;

    display: flex;

    @media (min-width: $mq-small) {
      right: 2em;
      bottom: 2em;
    }

    @media (min-width: $mq-med) {
      right: 4em;
      bottom: 4em;
    }

    & > li:not(:last-child) {
      margin-right: 1.25em;
    }
  }

  &__link {
    font-size: 1.1em;
    font-weight: 700;
    color: $color-white;

    &:hover {
      border-bottom: 2px solid $color-white;
    }
  }
}
