//----------------------------------------------
// Footer
//---------------------------------------------- 
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;

  font-family: $font-header;

  @media (min-width: $mq-small) {
    padding: 2em;
  }

  @media (min-width: $mq-med) {
    padding: 3em 4em;
  }

  .contact & {

    @media (min-width: $mq-med) {
      position: absolute;
      left: 4em;
      bottom: 3em;
      right: 4em;
      z-index: $z-1;

      padding: 0;
    }
  }

  &__list {
    @extend %no-list-style;

    display: flex;

    & > li:not(:last-child) {
      margin-right: 1em;

      @media (min-width: $mq-small) {
        margin-right: 1.25em;
      }
    }
  }

  &__copy,
  &__link {
    font-size: 1.1em;
  }

  &__link {
    @include link-underline(2px, var(--black));
  }
}
