//----------------------------------------------
// Header
//---------------------------------------------- 
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-99;

  display: flex;
  align-items: center;
  height: $header-height;
  width: 100%;
  padding: {
    right: 1em;
    left: 1em;
  }

  @media (min-width: $mq-small) {
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  @media (min-width: $mq-med) {
    padding: {
      right: 4em;
      left: 4em;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 1.25em;
    color: $color-alpha;
  }
}
