//-------------------------------------------- 
// Header
//--------------------------------------------
.header {
  position: absolute;
  top: 4em;
  left: 1em;
  right: 1em;
  z-index: $z-998;

  display: flex;
  justify-content: space-between;
  padding: 1em 3em;

  .js-scrolling-up &,
  .js-scrolling-down & {
    position: fixed;
    top: 1em;

    background-color: $color-white;
    box-shadow: 0px 1px 0px 1px rgba($color-black, 0.02), 0px 4px 16px rgba($color-black, 0.09);
  }

  .js-scrolling-up & {
    animation: slide-down 700ms ease-in-out both;
  }

  .js-scrolling-down & {
    animation: slide-up 700ms ease-in-out both;
  }

  // &:after {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;

  //   height: 100%;
  //   width: 100%;

  //   box-shadow: 0px 1px 0px 1px rgba($color-black, 0.02), 0px 4px 16px rgba($color-black, 0.09);
  //   opacity: 0;

  //   .js-scrolling-up & {
  //     animation: fade-down 1s ease-in-out both;
  //   }
  // }

  &__title,
  &__link {
    font-weight: 700;
    font-size: 1.1em;
    color: $color-black;
  }

  &__title {

  }

  &__list {
    @extend %no-list-style;

    display: flex;

    & > li:not(:last-child) {
      margin-right: 1.25em;
    }
  }

  &__link {

  }
}
