//----------------------------------------------
// Header
//---------------------------------------------- 
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: $z-99;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 6em;
  width: 100%;

  &__title {
    font-size: 1.25em;
    font-weight: 700;
    color: $color-black;
  }

  &__time {
    font-size: 1.25em;
  }
}
