//----------------------------------------------
// Header
//---------------------------------------------- 
.header {
  position: fixed;
  top: 1em;
  left: 1em;
  z-index: $z-99;

  @media (min-width: $mq-small) {
    top: 2em;
    left: 2em;
  }

  @media (min-width: $mq-med) {
    top: 4em;
    left: 4em;
  }

  &__title {
    font-weight: 700;
    font-size: 1.25em;
    color: $color-alpha;
  }
}
