//----------------------------------------------
// Header
//---------------------------------------------- 
.header {
  // margin: {
  //   top: $margin;
  //   bottom: $margin-small;
  // }

  &__img {

    img {
      width: 3em;
      margin: {
        right: auto;
        left: auto;
      }
    }
  }

  &__title {
    position: fixed;
    top: 0;
    left: 0;

    display: none;
    height: 100vh;
    width: 4em;

    @media (min-width: $mq-med) {
      display: block;
    }
  }

  &__subtitle {
    position: absolute;
    top: 50%;
    left: 50%;

    white-space: nowrap;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
}
