---
---

/*
Normalize.css
https://necolas.github.io/normalize.css/
*/
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* Global */
*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  background-image: url('../images/geometry.png');
  color: #333;
}

.wrapper {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 48em;

  @media (min-width: 34em) {
    html {
      font-size: 16px;
    }

    .wrapper {
      padding: 0 2em;
    }    
  }
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

.post hr {
  border: 0;
  border-bottom: 1px solid #D8D8D8;
  padding-top: 4em;
  max-width: 80%;
  margin: 0 auto;
}

.post:last-of-type hr {
  border-bottom: none;
}

img {
  max-width: 100%;
}

.l-img {
  float: left;
  margin: 0 1em 1em 0;
  clear: both;
  overflow: hidden;
}

.r-img {
  float: right;
  margin: 0 0 1em 1em;
  clear: both;
}

figure {
  margin: 0;
}

/* Header */
.site {

  &-header {
    overflow: hidden;
    padding: 1.5em 0 2em 0;
  }

  &-title {
    text-decoration: none;
    font-weight: 300;
  }

  &-nav a {
    position: relative;
    color: #333;
    text-decoration: none;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em;

    &:hover {
      color: #333;

      &:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: #333;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
  }

  &-tagline {
    margin: 0 0 1.5em 0;
    font-weight: 300;
    color: #777;
    font-size: 0.8em;
  }
}

h1 {
  font-size: 1.5em;
  margin: 1em 0 0.3em 0;
}

/* Post and Pages */
.post {
  padding-bottom: 4em;
  font-size: 1.25em;
  line-height: 1.6;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.8em;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1.25em;
    margin-bottom: 0;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.725em;
  }

  p {
    clear: both;
  }

  &-title {
    margin-bottom: 0;
  }

  &-link {
    position: relative;
    color: #333;
    text-decoration: none;

    &:hover {
      color: #333;

      &:before {
        visibility: visible;
        transform: scaleX(1);
      }
    }

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 0;
      left: 0;
      background-color: #333;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out 0s;
    }
  }

  &-date {
    color: #777;
    font-size: 0.8em;
  }
}

blockquote {
  padding: 1em 2em;
  margin: 0;
  font-style: oblique;
  border-left: solid 3px #333;
}

pre {
  padding: 2em;
  background: #fafafa;
  border: 1px solid #f1f1f1;
}

code {
  font-family: Consolas, monospace;
}

.emoji {
  text-align: center;
}

iframe {
  width: 100% !important;
  max-width: 100% !important;
}

/* About Page */
.headshot {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: filter 0.4s ease-in-out, -webkit-filter 0.4s ease-in-out;

  &:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}

.devicon {
  font-size: 2em;
  transition: color 0.4s ease-in-out;

  &-list {
    list-style-type: none;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin: 0.25em;
    }
  }

  &-html5-plain:hover {
    color: #E54D26;
  }

  &-css3-plain:hover {
    color: #3D8FC6;
  }

  &-javascript-plain:hover {
    color: #F0DB4F;
  }

  &-jquery-plain:hover {
    color: #0769AD;
  }

  &-nodejs-plain:hover {
    color: #83CD29;
  }

  &-angularjs-plain:hover {
    color: #C4473A;
  }

  &-react-original:hover {
    color: #61DAFB;
  }

  &-bootstrap-plain:hover {
    color: #59407F;
  }

  &-foundation-plain:hover {
    color: #008CBA;
  }

  &-sass-original:hover {
    color: #CC6699;
  }

  &-gulp-plain:hover {
    color: #EB4A4B;
  }

  &-heroku-original:hover {
    color: #6762A6;
  }

  &-mongodb-plain:hover {
    color: #4FAA41;
  }

  &-postgresql-plain:hover {
    color: #336791;
  }

  &-python-plain:hover {
    color: #FFD845;
  }

  &-ruby-plain:hover {
    color: #D91404;
  }

  &-rails-plain:hover {
    color: #A62C46;
  }
}

.contact {
  margin-top: 2em;
  text-align: center;

  &-btn {
    color: #f1f1f1;
    padding: 1em 2em;
    background: #444;
    text-decoration: none;
    transition: background 0.4s ease-in-out;
  }
}

a.contact-btn:hover {
  background: #222;
}

/* Archive Page */
.post-list {

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 1em;
    clear: both;
    overflow: hidden;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    float: left;
    display: block;
  }

  time {
    float: left;
    clear: both;
    display: block;

    @media (min-width: 38em) {
      float: right;
      clear: none;
    }
  }
}

/* Pagination */
.pagination {
  overflow: hidden;
  margin-bottom: 2em;
}

.previous,
.next {
  color: #f1f1f1;
  padding: 1em 2em;
  background: #444;
  text-decoration: none;
  transition: background 0.4s ease-in-out;
}

.previous {
  float: left;
}

.next {
  float: right;
}

a.previous:hover, a.next:hover {
  background: #222;
}

.inactive {
  background: #999;
}

/* Footer */
.site-footer {
  border-top: solid 1px #EAEAEA;
  background: #f1f1f1;
  padding: 2em 0;
  color: #444;
  text-align: center;
}

i {
  color: #444;
  padding: 0 0.0625em;
  transition: color 0.4s ease-in-out;

  &:hover {
    color: #222;
  }
}

.fa {

  &-envelope-o:hover {
    color: #db4437;
  }

  &-linkedin:hover {
    color: #0077b5;
  }

  &-file-text-o:hover {
    color: #007ee5;
  }

  &-twitter:hover {
    color: #55acee;
  }

  &-instagram:hover {
    color: #3f729b;
  }
}

/* 
Pace
Solution to hide everything on page until loaded: http://goo.gl/XGB1zj
*/
body > :not(.pace),body:before,body:after {
  transition:opacity 0.4s ease-in-out
}

body:not(.pace-done) > :not(.pace),body:not(.pace-done):before,body:not(.pace-done):after {
  opacity: 0
}

/* Actual Pace */
.pace {
  pointer-events: none;

  user-select: none;
}

.pace.pace-inactive .pace-progress {
  display: none;
}

.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 0;
  height: 5rem;
  width: 5rem;

  transform: translate3d(0, 0, 0) !important;
}

.pace .pace-progress:after {
  display: block;
  position: absolute;
  top: 0;
  right: 0.5rem;
  content: attr(data-progress-text);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 5rem;
  line-height: 1;
  text-align: right;
  color: rgba(0, 0, 0, 0.19999999999999996);
}
