@use '../tools/mixins-media' as media;

//--------------------------------------------
// Spacing
//--------------------------------------------
:root {
  --space-large: 4rem;
  --space-medium: 2rem;
  --space-small: 1rem;
  --space-none: 0;
  --space-auto: auto;
}
