//-------------------------------------------- 
// Background Colors
//--------------------------------------------
.bg-white {
  background-color: var(--white);
}

.bg-lightgrey {
  background-color: var(--lightgrey);
}

.bg-black {
  background-color: var(--black);
}

.bg-getty-images--alpha {
  background-color: #6f43d6;
}

.bg-getty-images--beta {
  background-color: #4316ac;
}

.bg-the-stable {
  background-color: #fee2d1;
}

.bg-kaiser-permanente--alpha {
  background-color: #003b71;
}

.bg-kaiser-permanente--beta {
  background-color: #1a4f7f;
}

.bg-inrix--alpha {
  background-color: #f1c400;
}

.bg-inrix--beta {
  background-color: #002d72;
}

.bg-inrix--gamma {
  background-color: #005eb8;
}
