//----------------------------------------------
// Page Transition
//---------------------------------------------- 
.transition {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9999;

  display: none;
  height: 100%;
  width: 100%;

  background-color: var(--black);

  &-out {
    // bottom: 0;

    display: block;
  }

  &-in {
    // left: 0;

    display: block;
  }
}
