//--------------------------------------------
// Imports
//--------------------------------------------
@import '../../styles/tools/_config';
@import '../../styles/tools/_extends-type';
@import '../../styles/tools/_mixins';

//----------------------------------------------
// Talk
//----------------------------------------------
.talk {
  display: flex;
  flex-direction: column-reverse;

  &__left {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 1em;

    @media (min-width: $mq-small) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $mq-med) {
      position: fixed;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;
      padding-right: 50%;

      overflow-y: auto;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    height: 22em;
    margin-top: 3.5em;

    @media (min-width: $mq-med) {
      height: auto;
      min-height: 100vh;
      margin: {
        top: 0;
        left: 50%;
      }
    }
  }

  &__text {
    @extend %font-h2;

    margin-bottom: 0;
  }

  &__link {
    @include link-underline(1px, var(--grey));

    color: var(--black);
    white-space: nowrap;
    transition: color 400ms ease-in-out;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;

      height: 1px;
      width: 100%;

      background-color: var(--black);
    }

    &:hover {
      color: var(--grey);
    }
  }
}
