//--------------------------------------------
// Imports
//--------------------------------------------
@import '../../styles/tools/_config';
@import '../../styles/tools/_extends';

//--------------------------------------------
// Header
//--------------------------------------------
.header {
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  z-index: $z-998;

  display: none;
  padding: 1em;

  @media (min-width: $mq-small) {
    top: 2em;

    display: flex;
    justify-content: space-between;
    padding: {
      right: 2em;
      left: 2em;
    }
  }

  @media (min-width: $mq-med) {
    top: 3em;
    left: 1em;
    right: 1em;

    padding: {
      right: 3em;
      left: 3em;
    }
  }

  &--scrolling-up,
  &--scrolling-down {
    position: fixed;
    top: 1em;

    background-color: var(--white);
    box-shadow: 0px 1px 0px 1px rgba(var(--black-rgb), 0.02), 0px 4px 16px rgba(var(--black-rgb), 0.09);
  }

  &--scrolling-up {
    animation: slide-down 700ms ease-in-out both;
  }

  &--scrolling-down {
    animation: slide-up 700ms ease-in-out both;
  }

  &__title,
  &__link {
    font-weight: 500;
    font-size: 1.1em;
    color: var(--black);

    .art-by-elina &,
    .getty-images &,
    .sp-real-estate &,
    .the-stable-seattle &,
    .inrix & {

      @media (min-width: $mq-small) {
        color: var(--white);
      }
    }

    .header--scrolling-up &,
    .header--scrolling-down & {
      color: var(--black);
    }
  }

  &__list {
    @extend %no-list-style;

    display: flex;

    & > li:not(:last-child) {
      margin-right: 1.25em;
    }
  }

  &__link {
    position: relative;

    color: var(--black);
    cursor: pointer;
    transition: all 400ms ease;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;

      height: 2px;
      width: 0;

      background-color: var(--black);
      transition: all 400ms ease;

      .art-by-elina &,
      .getty-images &,
      .sp-real-estate &,
      .the-stable-seattle &,
      .inrix & {
        background-color: var(--white);
      }

      .header--scrolling-up &,
      .header--scrolling-down & {
        background-color: var(--black);
      }

      @media (hover: none) {
        content: none;
      }
    }

    &:hover {

      &:before {
        left: 0;

        width: 100%;

        background-color: var(--black);

        .art-by-elina &,
        .getty-images &,
        .sp-real-estate &,
        .the-stable-seattle &,
        .inrix & {
          background-color: var(--white);
        }

        .header--scrolling-up &,
        .header--scrolling-down & {
          background-color: var(--black);
        }
      }
    }
  }
}

//----------------------------------------------
// Header Mobile
//----------------------------------------------
.header {

  &--mobile {
    @extend %flex-align;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: $z-998;

    height: 3.5em;
    justify-content: space-between;
    padding: {
      right: 1em;
      left: 1em;
    }

    background-color: var(--white);
    box-shadow: 0px 1px 0px 1px rgba(var(--black-rgb), 0.02), 0px 4px 16px rgba(var(--black-rgb), 0.09);

    @media (min-width: $mq-small) {
      display: none;
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 1em;

    background-color: var(--white);
    visibility: hidden;
    opacity: 0;

    .hamburger--open & {
      display: block;

      visibility: visible;
      opacity: 1;
    }
  }

  &__list {

    .header--mobile & {
      overflow: hidden;

      & > li {
        transform: translateY(110%);
        transition: transform 400ms ease;

        &:nth-of-type(1) {
          transition-delay: 100ms;
        }

        &:nth-of-type(2) {
          transition-delay: 200ms;
        }

        &:nth-of-type(3) {
          transition-delay: 300ms;
        }
      }
    }

    .hamburger--open & {

      & > li {
        transform: translateY(0);
      }
    }
  }
}

//----------------------------------------------
// Hamburger
//----------------------------------------------
.hamburger {
  z-index: $z-999;

  height: 15px;
  width: 26px;

  cursor: pointer;

  & > div {
    height: 2px;
    width: 26px;
    margin-left: auto;

    background-color: var(--black);
    transition: all 200ms ease-in-out;

    &:nth-of-type(2) {
      width: 18px;
      margin: {
        top: 4px;
        bottom: 4px;
      }
    }
  }

  .hamburger--open & {

    & > div {
      background-color: var(--black);

      &:nth-of-type(1) {
        transform: translateY(6px) rotate(45deg);
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}

//--------------------------------------------
// Transition
//--------------------------------------------
.transition {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  height: 100%;
  width: 100%;

  background-color: var(--black);
}
