@use './config' as config;

//----------------------------------------------
//  Action Transition - %action-transition
//  @description: Creates a hover effect for a and button tags
//----------------------------------------------
%action-transition {
  position: relative;

  font-weight: var(--font-weight-bold);
  color: var(--color-black);

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;

    height: 2px;
    width: 100%;

    background-color: var(--color-red);
    transform: translateY(-50%) scaleX(0);
    transform-origin: right center;
    transition: transform 800ms config.$ease-out-expo;
  }

  &:hover,
  &:focus-visible {
    &:after {
      transform: translateY(-50%) scaleX(1);
      transform-origin: left center;
    }
  }
}

//----------------------------------------------
//  Full Width Border - %full-width-border
//  @description: Creates a 100vw top border
//----------------------------------------------
%full-width-border {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;

    height: 1px;
    width: 100vw;

    background-color: var(--color-black);
    transform: translateX(-50%);
  }
}
