//----------------------------------------------
// Awards
//---------------------------------------------- 
.awards {
  padding: {
    top: 4em;
    bottom: 4em;
  }

  border-top: 1px solid rgba($color-black, 0.1);

  &__container {
    @include flex-grid(2, 4, $pad: 0.25em);

    padding-top: 1.5em;
  }

  &__link {
    display: block;
  }

  &__img {
    background-color: $color-lightgrey;

    img {
      display: block;
    }
  }
}
