//----------------------------------------------
// Awards
//---------------------------------------------- 
.awards {
  @extend .work;

  &__container {
    @include flex-grid(2, 4, $pad: 0.5em);

    padding-top: 1.5em;
  }

  &__link {
    display: block;
  }

  &__img {
    background-color: $color-lightgrey;

    img {
      display: block;
    }
  }
}
