//----------------------------------------------
// Browser
//---------------------------------------------- 
.browser {
    position: relative;

    padding-top: 2em;

    background-color: $color-white;
    border: 1px solid rgba($color-white, 0.9);
    border-top: {
      right-radius: 0.4em;
      left-radius: 0.4em;
    }
    // box-shadow: 0px 1px 0px 1px rgba($color-black, 0.02), 0px 4px 16px rgba($color-black, 0.05);
    box-shadow: 0px 1px 0px 1px rgba($color-black, 0.02), 0px 8px 53px 7px rgba($color-black, 0.09);

    video {
      display: block;
    }

    &__dots {
      position: absolute;
      top: 0.8em;
      left: 1.25em;

      height: 5px;
      width: 5px;

      background-color: rgba($color-black, 0.3);
      border-radius: 100%;

      &:before,
      &:after {
        content: "";
        position: absolute;
        top: 0;

        height: 5px;
        width: 5px;
        
        background: rgba($color-black, 0.3);
        border-radius: 100%;
      }

      &:before {
        right: 10px;
      }

      &:after {
        left: 10px;
      }
    }
}
