//----------------------------------------------
// CTA
//---------------------------------------------- 
.cta {

  &__link {
    @extend %flex-center;

    min-height: 18em;
    padding: 4em 1em;

    color: var(--white);

    @media (min-width: $mq-small) {
      min-height: 24em;
      padding: {
        top: 6em;
        bottom: 6em;
      }
    }

    @media (min-width: $mq-med) {
      padding: {
        top: 8em;
        bottom: 8em;
      }
    }

    &:hover {

      .cta__text {

        &:before {
          left: 0;

          width: 100%;
        }
      }
    }
  }

  &__text {
    @include block-underline(4px);
    @extend %font-h1;
  }
}
