//----------------------------------------------
// Intro
//---------------------------------------------- 
.intro {
  padding: {
    top: 14em;
    bottom: 8em;
  }

  &__container {
    width: 80%;
  }
}
