//----------------------------------------------
// Intro
//---------------------------------------------- 
.intro {
  padding: {
    top: 7vw;
    bottom: 7vw;
  }

  &__container {
    width: 80%;
  }
}
