//----------------------------------------------
// Intro
//---------------------------------------------- 
.intro {
  display: flex;
  align-items: center;
  height: 24em;
  padding: 4em 1em;

  @media (min-width: $mq-small) {
    padding: 6em 2em;
  }

  @media (min-width: $mq-med) {
    padding: 8em 4em;
    min-height: 100vh;
  }

  &__text {
    @extend %auto-margin;
    @extend %text-center;

    @media (min-width: $mq-small) {
      max-width: 80%;
    }
  }
}
