//----------------------------------------------
// Mast
//---------------------------------------------- 
.mast {
  @extend %text-center;

  display: flex;
  align-items: center;
  min-height: 24em;
  padding: 4em 1em;

  @media (min-width: $mq-small) {
    padding: 6em 2em;
  }

  @media (min-width: $mq-med) {
    padding: 8em 4em;
  }

  &--media {
    position: relative;

    padding-bottom: 56.5%;

    background-color: $color-lightgrey;

    .absolute-bg,
    .absolute-vid {
      opacity: 0.8;
    }

    .grid {
      @extend %text-center;

      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
      
      .s-p-real-estate &,
      .inrix & {
        color: $color-white;
      }
    }
  }

  &__text {
    max-width: 54rem;
    margin: {
      top: 0.25em;
      bottom: 0;
    }

    font-size: 1.25em;
  }
}
