//----------------------------------------------
// One Page Love
//---------------------------------------------- 
.opl {
  position: fixed;
  left: 0;
  top: 6em;
  z-index: 99;

  display: inline-block;
}
