//----------------------------------------------
// Pagination
//---------------------------------------------- 
.pagination {
  display: flex;

  &__link {
    @extend %flex-center;
    @extend %text-center;

    flex: 1;

    color: $color-white;
    background-color: $color-black;

    &:first-child {
      border-right: 1px solid $color-white;
    }

    &:last-child {
      margin-left: -1px;

      border-left: 1px solid $color-white;
    }

    &:hover {

      .pagination__text {

        &:before {
          left: 0;

          width: 100%;
        }
      }
    }
  }

  &__text {
    @include block-underline(2px);
    @extend %font-h3;
  }
}
