//----------------------------------------------
// Pagination
//---------------------------------------------- 
.pagination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1px;

  &__link {
    @extend %flex-center;
    @extend %text-center;

    flex: 1;

    color: var(--white);
    background-color: var(--black);

    &:hover {

      .pagination__text {

        &:before {
          left: 0;

          width: 100%;
        }
      }
    }
  }

  &__text {
    @include block-underline(2px);
    @extend %font-h3;
  }
}
