//----------------------------------------------
// Portfolio
//---------------------------------------------- 
.portfolio {
  margin: {
    top: $margin;
    bottom: $margin;
  }
  padding: {
    right: 2em;
    left: 2em;
  }

  &__container {
    max-width: 25em;
    margin: {
      right: auto;
      left: auto;
    }
  }

  &__header {
    text-align: center;
  }

  &__list {
    padding-top: 3em;

    list-style-type: none;
  }

  &__item {

    &:not(:first-child) {
      margin-top: $margin-small;
    }

    &:not(:last-child) {
      margin-bottom: $margin-small;
    }
  }

  &__img {

    img {
      width: 100%;
    }
  }
}
