//----------------------------------------------
// Posts
//---------------------------------------------- 
.posts {

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2em;
    grid-row-gap: 4em;
    margin-top: 1em;

    @media (min-width: $mq-small) {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 3em;
    }

    @media (min-width: $mq-med) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__post {

    &:nth-child(3n+1) {

      .posts__text {
        transition-delay: 100ms;
      }
    }

    &:nth-child(3n+2) {

      .posts__link,
      .posts__scale,
      .posts__title span {
        transition-delay: 100ms;
      }

      .posts__text {
        transition-delay: 200ms;
      }
    }

    &:nth-child(3n+3) {

      .posts__link,
      .posts__scale,
      .posts__title span {
        transition-delay: 200ms;
      }

      .posts__text {
        transition-delay: 300ms;
      }
    }
  }

  &__link {
    @extend .work__link;

    &:hover {

      .posts__img {
        transform: scale(0.97);

        figure {
          transform: scale(1.1);
        }
      }
    }
  }

  &__img {
    position: relative;

    background-color: $color-lightgrey;
    overflow: hidden;
    transition: transform 300ms ease-in-out;

    &:before {
      content: "";

      display: block;
      padding-top: 80%;
    }

    figure {
      transition: transform 300ms ease-in-out;
    }
  }

  &__scale {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;
  }

  &__header {
    @extend .work__header;
  }

  &__title {
    @extend .work__title;
  }

  &__text {
    margin: {
      top: 0.25em;
      bottom: 0;
    }

    font-size: 1.1em;
  }

  &__pages {
    position: absolute; 
    left: -9999px;

    display: none;
  }

  &__pagination {
    @extend %text-center;

    margin-top: 1em;

    @media (min-width: $mq-small) {
      margin-top: 3em;
    }
  }

  &__next {
    position: relative;
    z-index: 1;

    font-family: $font-header;
    cursor: pointer;
    transition: color 100ms ease-in-out;

    &--none {
      color: $color-grey;
      cursor: not-allowed;
    }

    &.js-posts-loading {
      cursor: wait;
    }
  }
}
