//----------------------------------------------
// Posts
//---------------------------------------------- 
.posts {

  &__container {
    @include flex-grid(1, 2, 3, $pad: 1em);
  }

  &__post {
    @extend .work__work;
  }

  &__link {
    @extend .work__link;

    &:hover {

      .posts__img {
        transform: scale(0.97);

        figure {
          transform: scale(1.1);
        }
      }
    }
  }

  &__img {
    position: relative;

    background-color: $color-white;
    overflow: hidden;
    transition: transform 300ms ease-in-out;

    &:before {
      content: "";

      display: block;
      padding-top: 80%;
    }

    figure {
      transition: transform 300ms ease-in-out;
    }
  }

  &__header {
    @extend .work__header;
  }

  &__time {
    display: block;
    margin-top: 0.25em;
  }

  &__pages {
    position: absolute; 
    left: -9999px;

    display: none;
  }

  &__pagination {
    @extend %text-center;
  }

  &__next {
    font-weight: 700;
    font-size: $font-small;
    cursor: pointer;
    transition: color 100ms ease-in-out;

    &--none {
      color: $color-grey;
    }
  }
}
