//----------------------------------------------
// Study
//---------------------------------------------- 
.study {

  &__content {
    
  }

  &__intro {

    h2 {
      overflow: hidden;

      span {
        display: block;
      }
    }

    p {
      font-size: 1.1em;

      @media (min-width: $mq-small) {
        font-size: 1.25em;
      }

      &:first-of-type {
        margin-top: 0.25em;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    a {
      color: $color-black;
      border-bottom: 1px solid $color-black;
      transition: all 250ms ease-in-out;

      &:hover {
        color: $color-grey;
        border-bottom: 1px solid $color-grey;
      }
    }
  }

  &__double {
    @include flex-grid(1, 2, $pad: 1em);

    & > div {

      @media (min-width: $mq-small) {
        padding: {
          top: 0;
          bottom: 0;
        }
      }
    }
  }
}
