//----------------------------------------------
// Work
//---------------------------------------------- 
.work {
  border-top: 1px solid rgba($color-black, 0.1);

  &__title {
    @extend %text-center;
  }

  &__container {
    @include flex-grid(1, 1, 2, $pad: 1em);

    align-items: center;
    margin-top: 1em;
  }

  &__work {
    padding: {
      top: 2em;
      bottom: 2em;
    }

    visibility: hidden;

    &.js-waypoints {
      visibility: visible;
    }
  }

  &__link {
    display: block;

    color: $color-black;
    transform: translateY(20%);
    transition: transform 1s ease;

    &:hover {
      .work__cryptologg,
      .work__vid,
      .work__img {
        transform: scale(0.97);
      }

      .work__cryptologg {

        div {
          transform: scale(1.1);
        }
      }

      .work__vid {

        video {
          transform: scale(1.1);
        }
      }

      .work__img {

        img {
          transform: scale(1.1);
        }
      }
    }

    .js-waypoints & {
      transform: translateY(0);
    }
  }

  &__scale {

    .work__vid & {
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;
    }

    .js-waypoints & {
      animation: scale 1s ease both;
    }
  }

  &__cryptologg {
    @extend %work-card;
    @extend %pseudo-square;

    position: relative;

    div {
      @extend %flex-center;

      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      transition: transform 300ms ease-in-out;
    }

    span {
      font-size: 5em;
    }
  }

  &__vid {
    @extend %work-card;
    @extend %pseudo-square;

    position: relative;

    video {
      @extend %auto-margin;

      position: absolute;
      top: 0;
      left: 0;
      z-index: $z-0;

      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;

      background-size: cover;
      object-fit: cover;
      transition: transform 300ms ease-in-out;
    }
  }

  &__img {
    @extend %work-card;

    img {
      transition: transform 300ms ease-in-out;
    }
  }

  &__header {
    margin-top: 1em;
  }

  &__text {
    width: 80%;
    margin: {
      top: 0.25em;
      bottom: 0;
    }
  }
}
