//----------------------------------------------
// Work
//---------------------------------------------- 
.work {
  padding: {
    top: 3.5vw;
    bottom: 7vw;
  }

  &--featured {
    border-top: 1px solid rgba($color-black, 0.1);
  }

  &__container {
    @include flex-grid(1, 2, $pad: 3.5vw);

    align-items: center;
  }

  &__link {
    color: $color-black;

    &:hover {

      .work__img {
        transform: scale(0.97);

        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__img {
    background-color: $color-lightgrey;
    overflow: hidden;
    transition: transform 300ms ease-in-out;

    img {
      display: block;
      transition: transform 300ms ease-in-out;
    }
  }

  &__header {
    margin-top: 1em;
  }

  &__title {

  }

  &__text {
    width: 80%;
    margin-bottom: 0;
  }
}
