//----------------------------------------------
// Work
//---------------------------------------------- 
.work {
  padding: {
    top: 10em;
    bottom: 4em;
  }

  &--featured {
    padding-top: 4em;

    border-top: 1px solid rgba($color-black, 0.1);
  }

  &__container {
    @include flex-grid(1, 2, $pad: 1em);

    align-items: center;

    & > article {
      padding: {
        top: 2em;
        bottom: 2em;
      }
    }
  }

  &__link {
    display: block;

    color: $color-black;

    &:hover {

      .work__vid {
        transform: scale(0.97);

        video {
          transform: scale(1.1);
        }
      }

      .work__img {
        transform: scale(0.97);

        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__vid {
    position: relative;

    background-color: $color-lightgrey;
    overflow: hidden;
    transition: transform 300ms ease-in-out;

    &:before {
      content: "";

      display: block;
      padding-top: 80%;
    }

    video {
      @extend %auto-margin;

      position: absolute;
      top: 0;
      left: 0;
      z-index: $z-0;

      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;

      background-size: cover;
      object-fit: cover;
      transition: transform 300ms ease-in-out;
    }
  }

  &__img {
    background-color: $color-lightgrey;
    overflow: hidden;
    transition: transform 300ms ease-in-out;

    img {
      display: block;
      transition: transform 300ms ease-in-out;
    }
  }

  &__header {
    margin-top: 1em;
  }

  &__title {

  }

  &__text {
    width: 80%;
    margin-bottom: 0;
  }
}

//----------------------------------------------
// Work Mast
//---------------------------------------------- 
.work-mast {
  @extend %flex-center;

  height: 100vh;

  &__container {

  }
}
