//----------------------------------------------
// Work
//---------------------------------------------- 
.work {
  padding: {
    top: 10em;
    bottom: 4em;
  }

  &--featured {
    padding-top: 4em;

    border-top: 1px solid rgba($color-black, 0.1);
  }

  &__container {
    @include flex-grid(1, 1, 2, $pad: 1em);

    align-items: center;

    & > article {
      padding: {
        top: 2em;
        bottom: 2em;
      }
    }
  }

  &__link {
    display: block;

    color: $color-black;

    &:hover {
      .work__cryptologg,
      .work__vid,
      .work__img {
        transform: scale(0.97);
      }

      .work__cryptologg {

        div {
          transform: scale(1.1);
        }
      }

      .work__vid {

        video {
          transform: scale(1.1);
        }
      }

      .work__img {

        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__cryptologg {
    @extend %work-card;
    @extend %pseudo-square;

    position: relative;

    div {
      @extend %flex-center;

      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      transition: transform 300ms ease-in-out;
    }

    span {
      font-size: 5em;
    }
  }

  &__vid {
    @extend %work-card;
    @extend %pseudo-square;

    position: relative;

    video {
      @extend %auto-margin;

      position: absolute;
      top: 0;
      left: 0;
      z-index: $z-0;

      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;

      background-size: cover;
      object-fit: cover;
      transition: transform 300ms ease-in-out;
    }
  }

  &__img {
    @extend %work-card;

    img {
      display: block;
      transition: transform 300ms ease-in-out;
    }
  }

  &__header {
    margin-top: 1em;
  }

  &__title {

  }

  &__text {
    width: 80%;
    margin-bottom: 0;
  }
}

//----------------------------------------------
// Work Mast
//---------------------------------------------- 
.work-mast {
  @extend %flex-center;

  height: 100vh;

  &__container {

  }
}
