//----------------------------------------------
// Work
//---------------------------------------------- 
.work {

  &__container {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    margin: {
      right: -1em;
      left: -1em;
    }

    & > div {
      flex-basis: 100%;
      max-width: 100%;

      @media (min-width: $mq-small) {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
  }

  &__work {
    padding: 2em 1em;
  }

  &__link {
    display: block;

    color: $color-black;

    &:hover {
      .work__cryptologg,
      .work__vid,
      .work__img {
        transform: scale(0.97);
      }

      .work__cryptologg {

        div {
          transform: scale(1.1);
        }
      }

      .work__vid {

        video {
          transform: scale(1.1);
        }
      }

      .work__img {

        img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__scale {

    .work__vid & {
      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;
    }
  }

  &__cryptologg {
    @extend %work-card;
    @extend %pseudo-square;

    position: relative;

    div {
      @extend %flex-center;

      position: absolute;
      top: 0;
      left: 0;

      height: 100%;
      width: 100%;

      transition: transform 300ms ease-in-out;
    }

    span {
      font-size: 5em;
    }
  }

  &__vid {
    @extend %work-card;
    @extend %pseudo-square;

    position: relative;

    video {
      @extend %auto-margin;

      position: absolute;
      top: 0;
      left: 0;
      z-index: $z-0;

      min-height: 100%;
      min-width: 100%;
      height: auto;
      width: auto;

      background-size: cover;
      object-fit: cover;
      transition: transform 300ms ease-in-out;
    }
  }

  &__img {
    @extend %work-card;

    img {
      transition: transform 300ms ease-in-out;
    }
  }

  &__header {
    margin-top: 1em;
  }

  &__title {
    overflow: hidden;

    span {
      display: block;
    }
  }

  &__text {
    max-width: 26em;
    margin: {
      top: 0.25em;
      bottom: 0;
    }

    font-size: 1.1em;
  }
}
