---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>

  {% include head.html %}

</head>
<body class="🍕">
  <a class="opl" href="https://onepagelove.com/thomas-vaeth" target="_blank"><img width="73" height="56" src="https://s3.amazonaws.com/onepagelove/one-page-love-award-retina-left.png" srcset="https://s3.amazonaws.com/onepagelove/one-page-love-award-left.png 1x , https://s3.amazonaws.com/onepagelove/one-page-love-award-retina-left.png 2x"></a>

  {% include header.html %}

  <main>

    {{ content }}
    
  </main>

  {% include footer.html %}

</body>
</html>
