<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="🍕">
    <a href="https://onepagelove.com/thomas-vaeth" class="opl"><img width="73" height="56" src="https://s3.amazonaws.com/onepagelove/one-page-love-award-retina-left.png" srcset="https://s3.amazonaws.com/onepagelove/one-page-love-award-left.png 1x , https://s3.amazonaws.com/onepagelove/one-page-love-award-retina-left.png 2x"></a>

    {% include header.html %}

    <main role="main">
      {{ content }}
    </main>

    {% include footer.html %}

  </body>

</html>
