---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
<head>

  {% include head.html %}

</head>
<body>
  <div data-barba="wrapper">
    {% assign namespace = '' %}
    {% if page.namespace %}
      {% assign namespace = page.namespace %}
    {% else %}
      {% assign namespace = page.layout %}
    {% endif %}
    <div data-barba="container" data-barba-namespace="{{ namespace }}" class="{{ page.title | downcase | slugify }}">

      {% include header.html %}

      <main>

        {{ content }}
        
      </main> 

      {% include footer.html %}

    </div>
  </div>

  <div class="transition transition-in"></div>

  <script src="{{ '/assets/js/jquery.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/js/app.min.js' | prepend: site.baseurl }}"></script>
</body>
</html>
