---
layout: default
---
<div class="post">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <section class="mast bg-lightgrey rellax" data-rellax-speed="-4">
      <div class="grid">
        <div>
          <h1 class="mast__title" itemprop="name headline">{{ page.title }}</h1>
        </div>
      </div>
    </section>

    <section class="post__content">
      <div id="markdown" itemprop="articleBody">
        {{ content }}
      </div>
    </section>
  </article>
</div>
