---
layout: default
---
<div>
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <section class="mast bg-lightgrey rellax" data-rellax-speed="-4">
      <div class="grid">
        <div class="mast__container">
          <h1 class="mast__title" itemprop="name headline">{{ page.title }}</h1>
          <time class="mast__date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%B %Y" }}</time>
        </div>
      </div>
    </section>

    <section class="section-padding bg-white">
      <div class="grid-small">
        <div id="markdown" itemprop="articleBody">
          {{ content }}
        </div>
      </div>
    </section>
  </article>
</div>
