//----------------------------------------------
// Config / Base
//----------------------------------------------
$font-header: "Circular", sans-serif;
$font-body: "Cormorant Garamond", serif;

$color-alpha: #feeaeb;
$color-beta: #05009e;

$color-black: #494949;
$color-white: #fff;

$mq-xs: 20em;
$mq-sm: 30em;
$mq-md: 54em;
$mq-lg: 64em;
$mq-xl: 76.5em;
$mq-xxl: 114em;

//----------------------------------------------
// Mixins
//----------------------------------------------
@mixin nth-animation-delay($items: 15, $time: 0.1s) {
  @for $i from 1 through $items {

    &:nth-child(#{$i}) {
      animation-delay: $time * $i;
    }
  }
}

//----------------------------------------------
// Fonts
//----------------------------------------------
@import 'fonts/_circular';
@import 'fonts/_cormorant-garamond';

//----------------------------------------------
// Base
//----------------------------------------------
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;

  font-family: $font-body;
  font-size: 100%;
  line-height: 1.8;
  color: $color-beta;
  background-color: $color-alpha;

  @media (min-width: $mq-xs) {
    font-size: 102.5%;
  }

  @media (min-width: $mq-sm) {
    font-size: 105%;
  }

  @media (min-width: $mq-md) {
    font-size: 107.5%;
  }

  @media (min-width: $mq-lg) {
    font-size: 110%;
  }

  @media (min-width: $mq-xl) {
    font-size: 115%;
  }

  @media (min-width: $mq-xxl) {
    font-size: 125%;
  }
}

div {
  margin: 0 auto;
  padding: 1em;

  text-align: center;

  @media (min-width: $mq-sm) {
    width: 80%;
  }

  @media (min-width: $mq-md) {
    width: 60%;
  }

  @media (min-width: $mq-xxl) {
    width: 50%;
  }
}

h1 {
  $fontSize: 2.5em;

  margin: 0;

  font-family: $font-header;
  font-size: $fontSize;
  line-height: 1.1;
  overflow: hidden;

  @media (min-width: $mq-sm) {
    font-size: $fontSize + 0.5em;
  }

  @media (min-width: $mq-md) {
    font-size: $fontSize + 1em;
  }
}

span {
  @include nth-animation-delay();

  display: inline-block;

  animation: spanTitle 0.75s ease-in-out both;
}

p {
  max-width: $mq-md;
  margin: 0 auto;

  font-size: 1.1em;
  color: $color-black;
}

a {
  color: $color-beta;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: #0000ff;
  }
}

//----------------------------------------------
// Animations Keyframes
//----------------------------------------------
@keyframes spanTitle {
  0% { opacity: 0; transform: translate3d(0, 100%, 0); }
  90% { opacity: 1; }
  100% { transform: translate3d(0, 0, 0); }
}
