//----------------------------------------------
// Media
//----------------------------------------------
img,
svg,
figure,
picture,
object,
embed,
iframe,
video {
  height: auto;
  max-width: 100%;
}

figure {
  margin: var(--space-none);
}

img {
  display: block;
}

iframe {
  border: none;
}
