@use '../tools/config' as config;

//----------------------------------------------
// Normalize Additions
//----------------------------------------------
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

//----------------------------------------------
// Body
//----------------------------------------------
body {
  background-color: var(--color-gray);
}

//----------------------------------------------
// App
//----------------------------------------------
#page {
  max-width: var(--max-width);
  margin-inline: var(--space-auto);

  @media (min-width: config.$max-width) {
    border: {
      left: 1px solid var(--color-black);
      right: 1px solid var(--color-black);
    }
  }
}

//----------------------------------------------
// Accessibility
//----------------------------------------------
:focus-visible {
  outline: 2px solid var(--color-red);
  outline-offset: 2px;
}
