//----------------------------------------------
// Base typography
//----------------------------------------------
@use '../tools/mixins-media' as media;

:root {
  font-family: var(--font);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: var(--color-black);
  background-color: var(--color-black);
}

//----------------------------------------------
// Headings
//----------------------------------------------
h1,
h2 {
  margin: {
    top: var(--space-none);
    bottom: var(--space-none);
  }

  font-weight: var(--font-weight-bold);
}

//----------------------------------------------
// H2 Theme
//----------------------------------------------
h2 {
  font-size: 3.5rem;
  line-height: 1.05;
}

//----------------------------------------------
// Paragraphs
//----------------------------------------------
p {
  margin: {
    top: var(--space-none);
    bottom: var(--space-none);
  }

  & + p {
    margin-top: var(--space-small);
  }
}

//----------------------------------------------
// Selection
//----------------------------------------------
::selection {
  color: var(--color-white);
  background-color: var(--color-red);
  text-shadow: none;
}
