//----------------------------------------------
// Base typography
//----------------------------------------------
:root {
  font-family: var(--font);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: var(--color-black);
  background-color: var(--color-white);
}

//----------------------------------------------
// Headings
//----------------------------------------------
h1 {
  margin: {
    top: var(--space-none);
    bottom: var(--space-none);
  }

  font-weight: var(--font-weight-bold);
}

//----------------------------------------------
// Selection
//----------------------------------------------
::selection {
  color: var(--color-white);
  background-color: var(--color-black);
  text-shadow: none;
}
